<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="Author" content="Navin Dharmarajan">
    <meta charset="UTF-8">
    <title>SIT 737 Practice 2 Task</title>
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body>
    <header>
      <h1>SIT-737 Practice Task 2 </h1>
    </header>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Occupation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ravi</td>
          <td>32</td>
          <td>Engineer</td>
        </tr>
        <tr>
          <td>Ismail</td>
          <td>28</td>
          <td>Teacher</td>
        </tr>
        <tr>
          <td>Joshep</td>
          <td>45</td>
          <td>Manager</td>
        </tr>
      </tbody>
    </table>
    <footer>
      <p>&copy; 2023 SIT-737 Practice Task 2</p>
    </footer>
  </body>
</html>
